<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Cambio climático</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">Inicio</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">¿Qué es?</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">GEI</a>
          </li>
        <li class="main-list__item list-item">
          <a class="list-item__link" href="#hechos">Hechos</a>
        </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Vista previa -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Cambio climático </h1>
        <p class="home__subtitle">Un problema grave actual</p>
      </section>
      <!-- Acerca de mí -->
      <section class="main__about about" id="about">
        <h2 class="about__title">Cambio climático</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            El cambio climático es la alteración a largo plazo del clima de la Tierra, incluyendo el aumento de temperaturas, cambios en los patrones de lluvias y fenómenos extremos como huracanes o sequías.
            Esto ocurre principalmente por la actividad humana, como la quema de combustibles fósiles, la deforestación y la contaminación, que aumentan los gases de efecto invernadero en la atmósfera, atrapando más calor.
            Sus impactos incluyen el derretimiento de glaciares, aumento del nivel del mar y pérdida de biodiversidad, afectando tanto a los ecosistemas como a la vida humana. 🌍
          </p>
          <img
            class="info-block__img"
            src="../static/img/planeta.jpg"
            alt="me"
            width="350"
            height="300"
          />
        </div>
      </section>
      <!-- Sección de competencias -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">Gases de Efecto invernadero</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/python.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">Dioxido de carbono
                (CO2)
              </span>
              <a class="skill__button" href="#CO2">Aprender más</a>
              <section id="CO2"> </section>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/discord.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">Metano (CH4)</span>
              <a class="skill__button" href="#CH4">Aprender más</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/html.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">Oxido nitroso (N2O)</span>
              <a class="skill__button" href="#N20">Aprender más</a>
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/db.png"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">Gases fluorados</span>
              <a class="skill__button" href="#F">Aprender más</a>
            </li>
          </ul>
        </form>

      </section>
      <!-- GEI -->
      <section id="CO2">
        <h2 class="about__title">Dioxido de carbono (CO2)</h2>
        <div>
          <br>
          <p>
            Es el principal GEI, responsable de aproximadamente tres cuartas partes de las emisiones.
            Se produce de forma natural por los animales y la descomposición de la biomasa, pero también por la quema de combustibles fósiles y reacciones químicas
          </p>
          <br>
      </section>
      <!-- GEI -->
      <br>
      <br>
      <section id="CH4">
        <h2 class="about__title">Metano (CH4)</h2>
        <div>
          <p>
            Es el segundo gas que más contribuye al calentamiento global, después del dióxido de carbono (CO2). El metano es más de 80 veces más dañino que el CO2 durante los primeros 20 años después de su emisión.
            Se produce de forma natural en humedales, pantanos, lagos, sedimentos marinos y en los intestinos de los animales rumiantes. También se produce por actividades humanas como la agricultura, la ganadería, la explotación de combustibles fósiles y la descomposición de residuos.
          </p> 
          <br>
      <!-- GEI -->
      <br>
      <br>
      <section id="N20">
        <h2 class="about__title">Oxido nitroso (N20)</h2>
        <div>
          <p>
            El óxido de nitrógeno es un gas que contribuye al efecto invernadero y puede permanecer en la atmósfera hasta 100 años. Se estima que este gas es responsable del 5% del efecto invernadero artificial. También ataca la capa de ozono.
          </p> 
          <br>
          <br>
      </section>
      <section id="F">
        <h2 class="about__title">Gases Flurorados</h2>
        <div>
          <p>
            Los gases fluorados son compuestos químicos artificiales que contienen flúor y se utilizan en diversas aplicaciones industriales. Son gases de efecto invernadero que contribuyen al cambio climático y al agotamiento de la capa de ozono. 
            Algunos ejemplos de gases fluorados son: 
            Hidrofluorocarbonos (HFC), Perfluorocarbonos (PFC), Hexafluoruro de azufre (SF6), Clorofluorocarbonos (CFC), Hidroclorofluorocarbonos (HCFC), Hidrofluoroolefinas (HFO).
          </p>
          <h3>Usos</h3>
            <ul{ list-style-type: disc; 
              padding-left: 20px;  }> 
              <li>Sistemas de refrigeración, aire acondicionado y calefacción</li>  
              <li>Agentes espumantes</li> 
              <li>Extintores de incendios</li> 
              <li>Propelentes en aerosoles</li> 
              <li>Disolventes</li> 
              <li>Sector electrónico</li> 
              <li>Industria cosmética y farmacéutica</li> 
            </ul>
          </p> 
          <br>
          <br>
      </section>
      <section id="F">
        <h2 class="about__title"; id="hechos">Hechos relevantes</h2>
        <div>
          <h3>Históricos y Científicos</h3>
            <ul{ list-style-type: disc; 
              padding-left: 20px;  }> 
              <li class="evidence_title">Revolucion Industrial (siglo XVIII y XIX)</li>
                  <ul>
                    <li class="extra_info">Inicio del crecimiento exponencial de la concentración de gases de efecto invernadero (GEI).</li>
                    <li class="extra_info">Uso masivo de combustibles fósiles como carbón, petróleo y gas natural, aumentando las emisiones de dióxido de carbono (CO₂).</li>
                  </ul>  
              <li class="evidence_title">Descubrimiento del efecto invernadero (1824)</li> 
                <ul>
                  <li class="extra_info">Jean-Baptiste Fourier identificó que ciertos gases en la atmósfera atrapan el calor, esencial para la vida pero susceptible a alteraciones humanas.</li>
                </ul> 
              <li class="evidence_title">Mediciones de CO₂ en Mauna Loa (1958)</li>
                <ul>
                  <li class="extra_info">Charles Keeling documentó un aumento constante de CO₂ en la atmósfera, conocido como la Curva de Keeling.</li>
                </ul>
              <li class="evidence_title">Informe del IPCC (1988)</li>
                <ul>
                  <li class="extra_info">Creación del Panel Intergubernamental sobre Cambio Climático (IPCC), alertando sobre el impacto del cambio climático..</li>
                </ul>
            </ul>
          <h3>Eventos Climatológicos y Ambientales</h3>
            <ul{ list-style-type: disc; 
              padding-left: 20px;  }> 
              <li class="evidence_title">Aumento de temperaturas globales</li>
                  <ul>
                    <li class="extra_info">Desde 1880, la temperatura promedio de la Tierra ha aumentado más de 1.1 °C debido a actividades humanas.</li>
                  </ul>  
              <li class="evidence_title">Deshielo del Ártico y glaciares</li> 
                <ul>
                  <li class="extra_info">Reducción de hielo marino en el Ártico a un ritmo sin precedentes.</li>
                  <li class="extra_info">Glaciares alrededor del mundo están desapareciendo, afectando los recursos hídricos de millones de personas.</li>
                </ul> 
              <li class="evidence_title">Eventos climáticos extremos</li>
                <ul>
                  <li class="extra_info">Incremento en frecuencia e intensidad de huracanes, olas de calor, sequías e inundaciones debido al calentamiento global.</li>
                </ul>
              <li class="evidence_title">Incendios forestales masivos</li>
                <ul>
                  <li class="extra_info">Ejemplos: Incendios en Australia (2019-2020) y Amazonía. Estos liberan grandes cantidades de carbono, empeorando el calentamiento global.</li>
                </ul>
            </ul>
          </p> 
          <br>
          <br>
      </section>
    <footer>

    </footer>
  </body>
</html>
